{{#if model.lottery}}
  <div class="lottery-info">
    <h3>{{i18n "lottery.title"}}</h3>
    <p>{{i18n "lottery.prize" prize=model.lottery.prize_description}}</p>
    <p>{{i18n "lottery.winners_count" count=model.lottery.winners_count}}</p>
    {{#if model.lottery.is_completed}}
      <p>{{i18n "lottery.completed"}}</p>
    {{else}}
      <p>{{i18n "lottery.end_condition" condition=model.lottery.end_condition value=model.lottery.end_value}}</p>
    {{/if}}
  </div>
{{/if}}
